#myInput {
    width: 30%;
    -webkit-transition: width 0.3s ease-in-out;
}

#myInput:focus {
    width: 100%;
    -webkit-transition: width 0.5s ease-in-out;
}

.btn-file {
    position: relative;
    overflow: hidden;
}


.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

img{
    max-width:250px;
    max-height:250px;
}