<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="image2pic demo">

    <title>image2pic demo</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/plotly-latest.min.js"></script>

    <meta property="og:title" content="image2pic - семантический поиск"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Поиск по тексту и изображению на небольшом количестве фотографий из vk"/>
    <meta property="og:image" content="static/images/i2p-logo.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@menshikh_iv">
    <meta name="twitter:creator" content="@menshikh_iv">
    <meta name="twitter:title" content="image2pic - семантический поиск">
    <meta name="twitter:description" content="Поиск по тексту и изображению на небольшом количестве фотографий из vk">
    <meta name="twitter:image" content="static/images/i2p-logo.jpg">

</head>
