<!DOCTYPE html>
<html lang="ru">
{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="static/css/style.css">

<body>
{% include 'menu.html' %}
<div class="container">
    <div class="jumbotron">
        <h1>Annotator</h1>
        <h3>введите текст</h3>
        <form method="post" action="/processing" id="dataform" enctype="multipart/form-data">
            <input name="search_text" class="form-control input-lg" id="myInput" placeholder="Где же котлета?" type="text">
            <h3>и/или прикрепите изображение</h3>
            <div style='position:relative;'>
                 <a class='btn btn-default btn-file' href='javascript:;'>
                        Загрузить<input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'
                                        name="photo_img" id="photo_img" size="40"
                                        onchange='$("span#upload-file-info").text($(this).val().replace("C:\\fakepath\\", ""))'
                                        accept="image/jpeg,image/png,image/bmp,.jpeg,.png,.bmp">
                 </a>
                 &nbsp;
                 <span class='label label-info' id="upload-file-info"></span>
            </div>
            <h3>
                <button class="btn btn-primary" type="submit">Дай мне чего нибудь</button>
            </h3>
        </form>
    </div>

</div> <!-- /container -->
</body>
<!--script src="static/js/script.js" type="text/javascript"></script!-->
</html>
