<!DOCTYPE html>
<html lang="ru">
{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<script src="static/js/script.js" type="text/javascript"></script>

<body>
{% include 'menu.html' %}

<div class="container">
    <center><h1>Что вы нам дали</h1></center>
    <br/>

     <table class="table">
        <thead>
          <tr>
            <th>Поле</th>
            <th>Значение</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>Текст</td>
            <td id="query_text">{{ query_text }}</td>
        </tr>
        <tr>
            <td>Изображение</td>
            <td>{% if img_data %}
                    <img id="query_img" src="data:image/png;base64,{{img_data}}"/>
                {% endif %}
            </td>
        </tr>
        </tbody>
     </table>
    <br/>
    <center><h1> Что у нас есть </h1></center>
    <br/>
    <button class="btn btn-primary" type="button" onclick="spoiler()">Показать/скрыть</button>
    <div id="spoiler" style='display:""'>
    <h2> ARTM </h2>
     <table class="table">
        <thead>
          <tr>
            <th>Поле</th>
            <th>Значение</th>
          </tr>
        </thead>
        <tbody>
        {%  for k in data_order %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ data[k] | safe}}</td>
        </tr>
        {% endfor %}

        </tbody>
     </table>
     </div>
    <br/>
    <h2> TOP10 похожих </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Расстояние</th>
                <th>Текст</th>
                <th>Изображение</th>
                <th>Кнопки</th>
            </tr>
        </thead>
        <tbody>
        {% for _ in srch %}
            <tr>
                <td id="dist">{{ _["dist"] }}</td>
                <td id="text">{{ _["text"] }}</td>
                <td><img id="img_url" src="{{_["img_url"]}}"/></td>
                <td>
                    <button type="button" class="btn btn-success btn-number" onclick="send_vote(this, 1)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-number" onclick="send_vote(this, -1)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </td>
            </tr>

        {% endfor %}
        </tbody>
     </table>
</div>
</body>

<!-- hack for correct plot -->
<script>
    $("#spoiler").css("display", "none");

    function spoiler() {
        var s = $("#spoiler");
        if (s.css("display") == "none") {
            s.css("display", "");
        }
        else {
            s.css("display", "none");
        }
    }

</script>
</html>
